{% extends "oauth/oauth.html" %}
{% load staticfiles %}

{% block oauth %}

    <div class="row">
        <div>

            <p>
                To connect Jenkins to Alexa you must create a user with a password or token.
                Instructions are available from
                <a href="https://support.cloudbees.com/hc/en-us/articles/115003090592-How-to-re-generate-my-Jenkins-user-token" target="_blank">
                    CloudBees support
                </a>.
            </p>

            <form class="submit-once" method="POST" name="login" id="login" action="{% url 'verify' %}">
                {% csrf_token %}

                <label for="key" class="">Jenkins URL:</label>
                <input type="text" name="url" class="form-control" placeholder="http://your-domain.com:8080/" required autofocus>

                <p></p>

                <label for="password" class="">Jenkins Username:</label>
                <input type="text" name="username" class="form-control" placeholder="username" required>

                <p></p>

                <label for="secret" class="">Jenkins Password:</label>
                <input type="password" name="password" class="form-control" placeholder="password/token" required>

                {% if request.GET.next %}
                    <input type="hidden" name="next" value="{{ request.GET.next }}">
                {% elif request.session.login_next_url %}
                    <input type="hidden" name="next" value="{{ request.session.login_next_url }}">
                {% endif %}

                <p></p>

                <div class="text-center">
                    <button id="login-button" class="btn btn-info center-block" type="submit">
                        <i class="fa fa-sign-in" aria-hidden="true"></i>
                        Connect Jenkins to Alexa
                    </button>
                </div>

                <div id="login-message">
                    {% if messages %}
                        <p></p>
                        <ul class="list-group text-center">
                            {% for message in messages %}
                                <li class="list-group-item list-group-item-{{ message.extra_tags }}">{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>

                <p></p>

                <div class="text-center">
                    <a href="#" data-toggle="modal" data-target="#password-modal">
                        Need Additional Assistance?
                        <i class="fa fa-info-circle" aria-hidden="true"></i></a>
                </div>

                <p></p>

            </form>
        </div>
    </div>

    <div id="password-modal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="vertical-alignment-helper">
            <div class="modal-dialog modal-sm vertical-align-center" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title text-center">Additional Support</h4>
                    </div>
                    <div class="modal-body">
                        <p>
                            1. E-Mail
                            <a href="mailto:support@alexa.com">
                                support@alexa.com
                                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                            </a>
                        </p>
                        <p>
                            2. Call Help at
                            <a href="tel:5555555555">
                                5555555555
                                <i class="fa fa-phone" aria-hidden="true"></i>
                            </a>
                        </p>
                    </div>
                    <div class="modal-footer">
                        <p class="text-center">More information comin gsoon.</p>
                        <p class="text-center">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
